body
{
	margin: 0;
	padding: 0;
	background-color: white;
	font-family;
	
}
*
{
	
	font-family: 'Arial', serif;
	font-style: normal;
	font-weight: 100;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5f5f5f;
}

li 
{
    float: left;
	
}

li a {
    display: block;
    color: black;
    text-align: right;
    padding: 10px 16px;
    text-decoration: none;
	
}



a.button1 {
    	color:#f5f5f5;
    	border: 1px solid #f5f5f5;
    	border-radius: 5px;
   	display: inline-block;
    	width: 150px;
    	padding: 8px;
    	margin: 10px;
    	font-size: 1em;
	letter-spacing:2px;
	float: right;
    	text-align: center;
    	text-decoration: none;
    	-webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    	transition: color 0.3s ease-out, background-color 0.3s ease-out;
	position: absolute;
	top: 350px;
	right: 350px;
}

a.button1:hover, a.ghost:focus {
    	background-color:#f5f5f5;
    	color: #000;
    	-webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in;
    	transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

a.button2 {
    color:#f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    display: inline-block;
    width: 150px;
    padding: 8px;
    margin: 10px;
    font-size: 1em;
	letter-spacing:2px;
	float: right;
    text-align: center;
    text-decoration: none;
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    transition: color 0.3s ease-out, background-color 0.3s ease-out;
	position: absolute;
	top: 250px;
	right: 350px;
}

a.button2:hover, a.ghost:focus {
    background-color:#f5f5f5;
    color: #000;
    -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.icons 
{
	text-align: center;
	display: block;
	
}
h3
{
	text-decoration: none;
}

.footer {
	background-color: ;
	color: #f5f5f5;
    	text-align: center;
    	font-size: 12px;
    	padding: 0px;
	position:absolute;
	left:0px;
	width:100%;
	z-index:+1;
	letter-spacing:2px;

}
.header
{
	overflow:hidden;
	position:fixed;
	color: white;
	background-color: rgba(255,255,255,0.9);
	width:100%;
	letter-spacing:2px;
	
}

div.aboutme 
{
	text-align: center;
	display: block;
	position: static;
	top: 100px;
	right: 550px;
}
div.paras 
{
	position: relative;
	top: 150px;
	right: 0px;
}
@media only screen and (max-width: 768px) {
    [class="buttons"] {
	
        display: none;
		
    }
	#header {
   	width: 100%;
 
}
}

